<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    <div id="spotify_instructions">
        <ol>
            <li>Follow the link below to login to Spotify</li>
            <li>When prompted, grant this application access to Spotify</li>
            <li>Review the list of playlists to import into Apple Music</li>
        </ol>
        <a href='{{spotify_auth_url}}'>Login to Spotify</a>
    </div>
</body>
</html>