<!DOCTYPE html>
<html lang="en">

<head>
    <title>Durtz Music Sync</title>
</head>

<body>
    <h1>Spotify</h1>
    <h2>{{session.spotify_profile.display_name}}</h2>
    <img src="{{session.spotify_profile.images[0].url}}">
    <h2>Playlists</h2>
    <form action="/spotify_playlist_tracks" , method="post">
        <input type="checkbox" id="library" name="Library" value="library">
        <label for="library">Liked Songs (Library)</label><br>
        {% for playlist in playlists %}
        <input type="checkbox" id="{{ playlist.id }}" name="{{ playlist.name }}" value="{{ playlist.id }}">
        <label for="{{ playlist.id }}"><a href="{{ playlist.external_urls.spotify }}" target="_blank">{{ playlist.name
                }}</a></label><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>

</html>